@charset "UTF-8";

@include media-breakpoint-down(md) {
	#storms-wc-searchbar-form {
		.categories-dropdown-btn {
			display: none;
		}
	}
}

ul.parent-list,
ul.child-list {
	padding: 0.25rem 1.5rem !important;

	.dropdown-item {
		&:hover,
		&:focus {
			background-color: transparent;
		}

		a {
			color: #222222;
		}
	}

}
