.storms-wc-mini-cart {

	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	padding: 5px 0;

	@include media-breakpoint-only(xs) {
		display: none;
	}

	.shopping_cart_dropdown {
		visibility: hidden;
		opacity: 0;

		z-index: 1060;
		position: absolute;

		//top: 30px;
		right: 0;
		width: 330px;
		background-color: #fff;
		border: solid 1px #ccc;
		transition: all .1s linear;

		@extend .shadow;

		&:before {
			content: '';
			display: inline-block;
			width: 0;
			height: 0;
			position: absolute;
			top: -6px;
			right: 15px;
			border: 10px solid transparent;
			border-bottom: 6px solid #d4d4d4;
			border-left: 6px solid transparent;
			border-top: 0 solid transparent;
			border-right: 6px solid transparent;
			text-align: center;
		}

		&:after {
			content: '';
			display: inline-block;
			width: 0;
			height: 0;
			position: absolute;
			top: -5px;
			right: 15px;
			border: 10px solid transparent;
			border-bottom: 6px solid #fff;
			border-left: 6px solid transparent;
			border-top: 0 solid transparent;
			border-right: 6px solid transparent;
			text-align: center;
		}

		&.active {
			visibility: visible;
			opacity: 1;
		}
	}

	span.cart-contents-count:after {
		content: " / ";
	}

	// Combine esta classe com a classe .fa do FontAwesome
	.st-ic-shop-cart {

		//@extend .fa-shopping-cart;

		width: 21px;
		height: 21px;
		background-size: cover;
		vertical-align: text-bottom;
		margin-right: 5px;

		//transform: scaleX(-1);
		background-image: url('/wp-content/themes/storms-theme/assets/img/shopping_cart_regular.svg');

		/**
		 * Keep the SVG black, and aplly the filters to change it to the desired color
		 * Use the following tool to generate the correct filters: https://codepen.io/sosuke/pen/Pjoqqp
		 * @see https://css-tricks.com/change-color-of-svg-on-hover/
		 */
		filter: invert(71%) sepia(36%) saturate(370%) hue-rotate(156deg) brightness(96%) contrast(93%);
	}

}

.widget_shopping_cart,
.storms-cart-contents {
	position: relative;

	.cart-link {
		width: 100%;
		display: inline-block;
		text-align: center;

		.cart-contents-total {
			font-weight: 900;
		}
	}

	.widget_shopping_cart_content {
		 padding: 0 15px;

		 .total {
			 .amount {
				 float: right;
			 }
		 }

		 .buttons {
			 a {
				 width: 48%;

				 &:first-child {
					 margin: 0 10px 0 0;
				 }
			 }
		 }

		 a.remove.remove_from_cart_button:hover {
			 padding-left: 0 !important;
		 }
	 }

	.cart_list {
		@extend .list-inline;

		margin-left: 0;

		margin-top: 10px;
		max-height: 205px;
		overflow: hidden;
		overflow-y: auto;

		.mini_cart_item {
			overflow: hidden;
			border-bottom: none;
			padding: 12px 0 12px;
			height: 95px;
			text-align: center;
			box-sizing: border-box;
			transition: all .1s linear;

			.product-image {
				text-align: center;
			}

			.product-description {
				text-align: left;
				padding: 3px 0;

				a {
					@extend .clearfix;
				}

				.variation,
				.quantity {
					@extend .clearfix;

					max-width: 100%;
					padding-left: 15px;
					padding-right: 15px;
					position: relative;
					min-height: 1px;
					float: left;

					font-size: 14px;

					p {
						margin: 0;
					}
				}
			}

			.product-actions {

				.storms_remove_from_cart_button {
					display: none;
					position: static;
					font-size: 10px;
					color: #858585;
					cursor: pointer;
					margin-top: 12px;
				}
			}

			&:hover {
				background-color: #ECECEC;

				.product-actions {

					.storms_remove_from_cart_button {
						display: block;
					}
				}
			}
		}
	}

	p.cart-empty {
		text-align: center;
		padding: 30px 0;
	}
}

.widget_shopping_cart {
	.widget_shopping_cart_content {
		.buttons {
			a {
				width: 100%;

				&:first-child {
					margin: 0 0 5px;
				}
			}
		}
	}
}


