@charset "UTF-8";

ul.parent-list,
ul.child-list {
	padding: 0.25rem 1.5rem !important;

	.dropdown-item {
		&:hover,
		&:focus {
			background-color: transparent;
		}

		a {
			color: #222222;
		}
	}

}
