@charset "UTF-8";

@mixin iconbefore( $glyph: '\e001' ) {
  font-family: 'WooCommerce';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-right: 0.618em;
  content: $glyph;
  text-decoration: none;
}

@import "core/general";
@import "core/fonts";
@import "core/forms";
@import "core/buttons";
@import "core/tables";
@import "core/star-rating";

// Blocks styles
@import "blocks/wp-block-woocommerce";

// Widgets styles
@import "widgets/widget-product-categories";

// WC Mini Cart
@import "wc-mini-cart";
@import "wc-wishlist-button";

// WC Searchbar
@import "wc-searchbar";

// Store default style
@import "store";


