.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
	width: 100%;
	padding: 15px 30px;
	margin: 20px 0;
	border-left: 8px solid #222;
	background-color: #fdfdfd;

	// Medium devices (desktops, 992px and up)
	@include media-breakpoint-up(md) {
		min-height: 62px;
		position: relative;
	}

	.button {
		// Medium devices (desktops, 992px and up)
		@include media-breakpoint-up(md) {
			right: 30px;
			position: absolute;
		}
	}

	li {
		padding: 15px 30px !important;

		.button {
			// Medium devices (desktops, 992px and up)
			@include media-breakpoint-up(md) {
				max-width: 135px;
				margin-top: -8px;
			}
		}
	}
}

.woocommerce-error {
	padding-left: 0;
	list-style: none;
	border-left-color: theme-color("danger");
}

.woocommerce-info {
	border-left-color: theme-color("info");
}
