.woocommerce {

  // Input de quantidade
  .quantity {
    @extend .col-xs-6; // Vamos sobrescrever o width... o extend é soh pra garantir o comportamento de uma col-*-*
    //@extend .col-sm-2; @extend .col-md-4;
    width: 125px;

    .input-text.qty {
      @extend .form-control;

      float: left;
      max-width: 55px;

      // Removemos os spin buttons do input[type="number"]
      -moz-appearance: textfield;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        margin: 0;
        -webkit-appearance: none;
      }
    }

    .qty-ctrl-btn {
      top: 0;
      right: 0;
      width: 30px;
      float: left;
      position: relative;

      a.plus,
      a.minus {
        @extend .btn;

        float: none;
        display: block;
        position: absolute;
        text-align: center;
        height: 19px;
        line-height: 17px;
        color: #646464;
        padding: 0 10px;
        border-top: 1px solid $light-grey;
        border-right: 1px solid $light-grey;
      }
      a.minus {
        bottom: -37px;
        border-bottom: 1px solid $light-grey;
      }
    }
  }

}