.quantity {
	//@include make-col(6);
}
.input-text.qty {
	@extend .form-control;
}

// Input de quantidade
.quantity {
	width: 125px; // Vamos sobrescrever o width... o extend é soh pra garantir o comportamento de uma col-*-*

	.woocommerce table.shop_table & {
		width: auto;
	}

	.input-text.qty {
		float: left;
		margin: 0 auto;
		text-align: center;
		max-width: 55px;

		.woocommerce table.shop_table & {
			float: initial;
		}

		// Removemos os spin buttons do input[type="number"]
		-moz-appearance: textfield;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			margin: 0;
			-webkit-appearance: none;
		}
	}

	.qty-ctrl-btn {
		top: 0;
		right: 0;
		width: 30px;
		float: left;
		position: relative;

		a.plus,
		a.minus {
			// Not using plus/minus buttons on Storms Theme
			//@extend .btn;

			float: none;
			display: block;
			position: absolute;
			text-align: center;
			height: 19px;
			line-height: 17px;
			color: #646464;
			padding: 0 10px;
			border-top: 1px solid var(--bs-light);
			border-right: 1px solid var(--bs-light);
		}
		a.minus {
			bottom: -37px;
			border-bottom: 1px solid var(--bs-light);
		}
	}
}

