.woocommerce,
.woocommerce-page {
	// Descriçao de categorias e tags
	.term-description {
		text-align: justify;
	}

	// Separador de colunas do WooCommerce conflita com a grid do Bootstrap
	.col2-set {
		.col-1,
		.col-2 {
			max-width: unset;
			width: 100%;
		}
	}
}

// Contador de resultados na listagem de produtos
.woocommerce-result-count {
	@extend .form-control-plaintext;
	float: left;
	width: auto;
	margin-bottom: 20px;
}

// Formulario de ordenação de resultados na listagem de produtos
.woocommerce-ordering {
	float: right;
	margin-bottom: 20px;

	.orderby {
		@extend .form-select;
	}
}

*:focus {
	outline: 0 !important;
}

.screen-reader-text {
	@extend .visually-hidden;
}

abbr.required {
	border: none;
	text-decoration: none;
}

.woocommerce-terms-and-conditions-wrapper > p.form-row,
.storms-privacy-policy-check,
.storms-newsletter-check {
	margin: 0;
}

.attachment-woocommerce_thumbnail {
	@extend .img-fluid;
}
