.woocommerce {

	div.wishlist-title,
	div.hidden-title-form {
		display: none;
	}

	table.wishlist_table {
		//@extend .table-responsive;

		border: none;
		border-collapse: collapse;

		& > thead > tr > th {
			text-align: center;
			vertical-align: middle;
			text-transform: uppercase;
			border-bottom: 1px solid theme-color("light");
		}

		//th.product-name {
		//	min-width: 583px;
		//}
		//
		//th.product-price,
		//th.product-stock-status {
		//	max-width: 120px;
		//}

		& > tbody > tr {

			& > td {
				vertical-align: middle;
			}

			td.product-remove {
				width: 50px;

				a.remove {
					width: 100%;
					text-align: center;
					display: inline-block;
				}
			}

			td.product-thumbnail {
				width: 100px;

				img {
					width: 64px;
				}
			}

			td.product-name {
				text-align: left;
			}

			td.product-price,
			td.product-quantity,
			td.product-subtotal {
				//width: 155px;
				text-align: center;
			}

			td.product-stock-status {
				span.wishlist-in-stock {
					width: 100%;
					text-align: center;
					display: inline-block;
				}
			}

			span.dateadded {
				color: gray("500");
				font-size: 0.8rem;
				display: block;
			}

			td.go-back {

			}

			td.actions,
			td.product-add-to-cart {
				text-align: center;

				.button {
					color: #fff;
					background-color: theme-color("primary");
					border-color: theme-color("primary");
					white-space: nowrap;
				}

			}
		}

		.wishlist-empty	{
			text-align: center;
			padding: 20px;
		}
	}

	.yith-wcwl-share {
		ul {
			padding-left: 0;
			list-style: none;

			li {
				display: inline-block;
				font-size: 2rem;

				&:not(:last-child) {
					margin-right: 1rem;
				}

				a {
					&:hover {
						padding-left: 0 !important;
						color: theme-color("secondary");
					}
				}
			}
		}
	}
}
