
.error404 {

	.page404-image,
	.page404-message {
		@include make-col-ready;
		@include make-col(12);
		@include media-breakpoint-up(sm) {
			@include make-col(6);
		}
	}

	.page404-image {
		text-align: center;
	}

	.page404-search {
		text-align: center;

		.search-form,
		.woocommerce-product-search {
			width: 100%;

			@include media-breakpoint-up(sm) {
				> .input-group {
					margin: 0 auto;
					width: 50%;
				}
			}
		}
	}
}


