@charset "UTF-8";

// ==========================================================================
// Body
// ==========================================================================

html {
	scroll-behavior: smooth;
}

body {
	background-color: #FFFFFF;
}

// Sticky Menu - fix for wp admin-bar
#main-navigation {
	&.fixed-top {
		box-shadow: 0 0 16px #000000;

		// Descontamos a barra de admin do wp, qndo ela estiver presente
		body.admin-bar & {
			top: 32px;

			// The wp adminbar change height from 46px to 32px on 782px
			@media screen and (max-width: 782px) {
				top: 46px;
			}
		}
	}
}

// Breadcrumb
.breadcrumb {
	padding: 0.75rem 1rem;
	background-color: #e9ecef;
	border-radius: 0.25rem;
}

// Search form style
@import "search-form";

@import "comment-walker";

// 404 page style
@import "404-page";

// Cookie consent modal
@import "components/storms-cookie-consent";

// ==========================================================================
// Footer
// ==========================================================================

//
// Sticky footer styles
// Using HTML5 Flexbox
// Sources: http://stackoverflow.com/questions/10825879/how-can-a-variable-height-sticky-footer-be-defined-in-pure-css/26558049#26558049
// 			http://stackoverflow.com/questions/4347133/css-sticky-footers-with-unknown-height/20432777#20432777
//
html, body {
	height: 100%;
	margin: 0; padding: 0;  /* to avoid scrollbars */
}
html:not(.ie):not(.edge) {
	body {
		display: flex; /* use the flex model */
		min-height: 100vh;
		flex-direction: column; /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
	}

	.wrap {
		flex: 1;
	}
}
#footer {
	width:100%;
}
