.woocommerce {

	p.woocommerce-noreviews {
		padding: 20px 15px;
		background-color: #fdfdfd;
		border-left: 8px solid #222;
	}

	.comment-form-rating {
		label {
			float: left;
			width: 130px;
			font-weight: 400;
		}
	}

	/**
	 * Star ratings
	 * This is the stars that are shown when user is rating/commenting a product
	 */
	p.stars {
		font-size: 22px;

		a {
			font-family: 'star';

			position: relative;
			height: 1em;
			width: 1em;
			text-indent: -999em;
			display: inline-block;
			text-decoration: none;
			line-height: 1em;

			&::before {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 1em;
				height: 1em;
				line-height: 1;
				content: '\73'; // Empty stars
				text-indent: 0;
			}

			&:hover ~ a::before {
				content: '\73'; // Empty stars
			}
		}

		&:hover a::before {
			content: '\53'; // Filled stars
		}

		&.selected {
			a.active {
				&::before {
					content: '\53'; // Filled stars
				}

				~ a::before {
					content: '\73'; // Empty stars
				}
			}

			a:not( .active )::before {
				content: '\53'; // Filled stars
			}
		}
	}

}

// Submit button
.comment-respond {
	.form-submit {
		text-align: right;

		input#submit {
			width: 200px;
		}
	}
}
