.woocommerce.single-product {
	main > .product {
		position: relative; // Para posicionar corretamente o on-sale

		@include make-row();

		.woocommerce-product-gallery,
		.summary {
			@include make-col-ready;
			@include make-col(12);

			@include media-breakpoint-up(sm) {
				@include make-col(6);
			}
		}

		.woocommerce-tabs,
		section.products {
			@include make-col-ready;
			@include make-col(12);

			div.products {
				padding-right: 15px;
				padding-left: 15px;
			}
		}
	}
}

// Don't show that weird icon for lightbox...
a.woocommerce-product-gallery__trigger {
	display: none;
}
// ... let's make the image clickable, instead
figure.woocommerce-product-gallery__wrapper {
	cursor: pointer;
}

.woocommerce-product-gallery img {
	@extend .img-fluid;
}

.flex-control-thumbs {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 15px;
	padding-left: 0;

	li {
		list-style-type: none;
		cursor: pointer;
	}
}

table.variations {
	select {
		@extend .form-control;
	}
}

.commentlist {
	@extend .list-unstyled;
}

