.woocommerce-billing-fields,
.woocommerce-address-fields {

	p#billing_first_name_field,
	p#billing_cnpj_field,
	p#billing_birthdate_field,
	p#billing_country_field,
	p#billing_neighborhood_field,
	p#billing_city_field,
	p#billing_phone_field {

		@include media-breakpoint-up(sm) {
			@include make-col-ready();
			@include make-col(6);
			float: left !important;
			padding-left: 0;
		}
	}

	p#billing_last_name_field,
	p#billing_ie_field,
	p#billing_sex_field,
	p#billing_postcode_field,
	p#billing_city_field,
	p#billing_cellphone_field {
		@include media-breakpoint-up(sm) {
			@include make-col-ready();
			@include make-col(6);
			float: right !important;
			padding-right: 0;
		}
	}

	p#billing_address_1_field {
		@include media-breakpoint-up(sm) {
			@include make-col-ready();
			@include make-col(9);
			float: left !important;
			padding-left: 0;
		}
	}

	p#billing_number_field {
		@include media-breakpoint-up(sm) {
			@include make-col-ready();
			@include make-col(3);
			float: right !important;
			padding-right: 0;
		}
	}

	p#billing_ie_field div.isento-checkbox {
		width: auto;
		display: inline;
		float: right;
		margin: 0;
	}

	div#st-msg-box {
		overflow: auto;
	}

	div.storms-tipo-compra,
	div.storms-is-contribuinte {
		@include make-col-ready();
		@include make-col(12);
		padding: 0;
		margin-bottom: 1rem;
	}

	p#billing_country_field {
		span.woocommerce-input-wrapper {
			@extend .form-control-plaintext;
		}
	}
}
