
.place-order #place_order {
	@extend .btn-block;
}

.woocommerce-checkout {

	.woocommerce-form-login {
		text-align: center;

		.form-group {
			margin: 0 auto 15px;
			width: 250px;
		}

		label.woocommerce-form-login__rememberme {
			display: block;
			margin-top: 15px;
		}
		button.woocommerce-form-login__submit {
			width: 140px;
		}
	}

	form.checkout_coupon {
		justify-content: center;
		text-align: center;

		> p:first-child {
			width: 100%;
		}
	}

	#customer_details {

		.woocommerce-shipping-fields {
			#ship-to-different-address {

				input.woocommerce-form__input-checkbox {
					margin-top: 10px;
				}
			}
		}

	}

	#payment.woocommerce-checkout-payment {

		ul.wc_payment_methods {
			@extend .list-unstyled;

			margin: 5px 0 10px;
			background-color: #f5f5f5;
			padding: 20px 15px;

			li {
				.payment_box {
					/*margin-left: 15px;*/
				}
			}

			li.payment_method_pagseguro {

				> label {
					display: contents;

					img {
						float: right;
					}
				}

				#pagseguro-payment-methods {
					li {
						label {
							padding: 5px 8px;
						}
					}
				}

				#pagseguro-credit-card-form,
				#pagseguro-bank-transfer-form,
				#pagseguro-banking-ticket-form {
					padding: 0 10px;
				}
			}
		}
	}

}
