
.woocommerce-checkout {

  .woocommerce-form-login {
    @extend .text-center;

    .form-group {
	  margin: 0 auto 15px;
	  width: 250px;
    }

    label.woocommerce-form-login__rememberme {
		display: block;
		margin-top: 15px;
	}
    button.woocommerce-form-login__submit {
      width: 140px;
    }
  }

  form.checkout_coupon {
    @extend .form-inline;
    @extend .justify-content-center;
    @extend .text-center;

    > p:first-child {
      @extend .w-100;
    }
  }

  #customer_details {

    .woocommerce-shipping-fields {
      #ship-to-different-address {

        input.woocommerce-form__input-checkbox {
          margin-top: 10px;
        }
      }
    }

  }

  .woocommerce-checkout-payment {

	  ul.wc_payment_methods {
		  @extend .list-unstyled;

		  margin: 5px 0 10px;
		  background-color: #f5f5f5;
		  padding: 20px 15px;

          li {
            .payment_box {
              margin-left: 15px;
            }
          }

		  .payment_method_pagseguro {
			  label {
				  width: 100%;

				  img {
					  float: right;
				  }
			  }
		  }
	  }
  }

  button#place_order {
	  @extend .btn-block;
  }
}
