.woocommerce-shipping-fields,
.woocommerce-address-fields {

	p#shipping_first_name_field,
	p#shipping_cnpj_field,
	p#shipping_birthdate_field,
	p#shipping_country_field,
	p#shipping_neighborhood_field,
	p#shipping_city_field,
	p#shipping_phone_field {
		@include media-breakpoint-up(sm) {
			@include make-col-ready();
			@include make-col(6);
			float: left !important;
			padding-left: 0;
		}
	}

	p#shipping_last_name_field,
	p#shipping_ie_field,
	p#shipping_sex_field,
	p#shipping_postcode_field,
	p#shipping_city_field,
	p#shipping_cellphone_field {
		@include media-breakpoint-up(sm) {
			@include make-col-ready();
			@include make-col(6);
			float: right !important;
			padding-right: 0;
		}
	}

	p#shipping_address_1_field {
		@include media-breakpoint-up(sm) {
			@include make-col-ready();
			@include make-col(9);
			float: left !important;
			padding-left: 0;
		}
	}

	p#shipping_number_field {
		@include media-breakpoint-up(sm) {
			@include make-col-ready();
			@include make-col(3);
			float: right !important;
			padding-right: 0;
		}
	}

}
