table.shop_table {
	tr.coupon > td {
		.button {
			@extend .btn-block;
		}
	}
}

.checkout-button {
	@extend .btn-block;
}

.cross-sells {
	> .products {
		@include make-container();
	}
}

.woocommerce {

	form.woocommerce-cart-form {

		table.shop_table {
			border: none;
			border-collapse: collapse;

			& > thead > tr > th {
				text-align: center;
				vertical-align: middle;
				text-transform: uppercase;
				border-bottom: 1px solid theme-color("light");
			}

			& > tbody > tr {

				& > td {
					vertical-align: middle;
				}

				td.product-remove {
					width: 50px;

					a.remove {
						width: 100%;
						text-align: center;
						display: inline-block;
					}
				}

				td.product-thumbnail {
					width: 100px;

					img {
						width: 64px;
					}
				}

				td.product-name {
					text-align: left;
				}

				td.product-price,
				td.product-quantity,
				td.product-subtotal {
					width: 155px;
					text-align: center;
				}

				td.go-back {

				}

				td.actions {
					text-align: right;

					.button {
						color: #fff;
						background-color: theme-color("primary");
						border-color: theme-color("primary");
					}

				}
			}

		}
	}

	.cart_totals,
	.woocommerce-checkout-review-order,
	.woocommerce-shipping-calculator {

		h2, .h2, h3#order_review_heading {
			margin-top: 0;
			text-align: center;
			text-transform: capitalize;
		}

		table.shop_table {
			border-radius: 0;

			thead {
				th {
					text-align: center;
					vertical-align: middle;
					text-transform: uppercase;
				}
			}

			tbody,
			tfoot {
				th {
					font-weight: 100;
					padding-right: 0;
					vertical-align: middle;
					text-transform: uppercase;
				}

				td {
					text-align: right;
					vertical-align: middle;
					padding-left: 0;
				}

				tr.coupon {
					& > td {
						.input-text {
							margin-bottom: 5px;
						}
					}
				}

				tr.cart_item {
					td.product {
						text-align: left;
						padding: 8px;
						border-top: none !important;

						.product-info {
							float: left;

							.variation {
								@extend .clearfix;
								font-size: 14px;
							}
						}

						.product-total {
							float: right;
						}
					}
				}

				tr.shipping {
					& > td {
						text-align: left;
						padding-left: 12px;

						& > p {
							text-align: justify;
							font-style: italic;
						}

						p.woocommerce-shipping-destination {
							text-align: center;
						}
					}
				}

				tr.cart-subtotal,
				tr.order-total {
					text-align: left;

					& > td {
						text-align: right;
					}
				}

				tr.order-total {
					font-size: 20px;
					background-color: theme-color("light");
				}
			}
		}

		.shipping {
			text-align: left;

			& > td {
				text-align: left;
				padding-left: 12px;

				& > p {
					text-align: justify;
					font-style: italic;
				}

				& > span.title {
					font-weight: 100;
					text-transform: uppercase;
					margin-bottom: 8px;
					display: inline-block;
				}
			}

			.amount,
			.storms-free-shipping {
				float: right;
				font-weight: 600;
			}

			ul#shipping_method {
				padding-left: 0;
				list-style: none;
				text-align: left;

				input {
					margin-right: 10px;
				}

				label {
					display: contents;
					font-weight: 100;

					.amount,
					.storms-free-shipping {
						float: right;
						font-weight: 600;
					}
				}
			}
		}
	}

	.woocommerce-shipping-calculator {
		tr.shipping {
			background-color: transparent !important;
		}
	}

	.woocommerce-shipping-calculator {

		a.shipping-calculator-button {
			text-align: center;
			width: 100%;
			display: inline-block;
		}

		.shipping-calculator-action {
			text-align: right;
			button {

			}

			.correios-buscacep-link {

			}
		}

		.shipping-calculator-form {
			#calc_shipping_state_field {
				span {
					width: 100%;
				}
			}
			#calc_shipping_country_field,
			#calc_shipping_state_field {
				text-align: left;
			}
		}
	}

	p.cart-empty {
		width: 100%;
		padding: 15px 30px;
		margin: 20px 0;
		border-left: 8px solid #222;
		background-color: #fdfdfd;
	}

	p.return-to-shop {
		float: right;
		position: relative;
		top: -65px;
		right: 25px;
	}

	.wc-proceed-to-checkout {
		text-align: right;
	}

}

.woocommerce-cart {
	.woocommerce-message,
	.woocommerce-error,
	.woocommerce-info {
		margin-top: 0;
	}
}
