/**
 * Main WooCommerce styles
 */

.button,
#respond input#submit {

	@extend .btn;
	@extend .btn-secondary;

	&.alt {
		@extend .btn-primary;
	}
}

.woocommerce {

	/**
     * Buttons
     */
	.button,
	#respond input#submit {

		&.loading {
			@extend .bi;
			opacity: 0.25;
			padding-right: 2.618em;

			&::after {
				@extend .bi-check-lg;

				vertical-align: top;
				-webkit-font-smoothing: antialiased;
				font-weight: 400;
				position: absolute;
				top: 0.618em;
				right: 1em;
				-webkit-animation: spin 2s linear infinite;
				-moz-animation: spin 2s linear infinite;
				animation: spin 2s linear infinite;
			}
		}

		&.added {
			@extend .bi;

			&::after {
				@extend .bi-check-lg;

				margin-left: 0.53em;
				vertical-align: bottom;
			}
		}
	}

	.cart .button,
	.cart input.button {
		float: none;
	}

	a.added_to_cart {
		padding-top: 0.5em;
		white-space: nowrap;
		display: inline-block;
	}
}
