.form-row {
	label {
		font-weight: normal;
	}

	span.woocommerce-input-wrapper {
		width: 100%;
	}
}
.form-group {
	label {
		font-weight: normal;

		&.col-form-label {
			width: 100%;
		}
	}

	.description {
		@extend .form-text;
	}
}

select.country_select,
select.state_select {
	@extend .form-select;
}

.input-text {
	@extend .form-control;
}
