/**
 * Star ratings
 * This is the stars that are shown on a product/comment that was already rated
 */
.star-rating {
	font-family: 'star';

	color: var(--bs-link-color);
	float: right;
	overflow: hidden;
	position: relative;
	height: 1em;
	line-height: 1;
	font-size: 1.2em;
	width: 7em;
	letter-spacing: .4em;

	&::before {
		content: '\73\73\73\73\73'; // Empty stars
		float: left;
		top: 0;
		left: 0;
		position: absolute;
	}

	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
	}

	span::before {
		content: '\53\53\53\53\53'; // Filled stars
		top: 0;
		position: absolute;
		left: 0;
	}
}

.woocommerce-product-rating {
	.star-rating {
		margin: 0.3rem 4px 0 0;
		float: left;
	}
}

.products {
	.star-rating {
		display: block;
		margin: 0 0 0.5rem;
		float: none;
	}
}

.hreview-aggregate {
	.star-rating {
		margin: 10px 0 0;
	}
}

/**
 * Rating Filter Widget
 */
.widget_rating_filter {
	ul {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none outside;

		li {
			@include clearfix();
			padding: 0 0 1px;
			list-style: none;

			a {
				padding: 1px 0;
				text-decoration: none;
			}

			.star-rating {
				float: none;
				display: inline-block;
			}
		}

		li.chosen {
			a {
				@extend .bi, .bi-x-octagon-fill;
				color: var(--bs-primary);

				&::before {

				}
			}
		}
	}
}
