.woocommerce-customer-details {
	section.col2-set {
		@include make-row();

		.col-1 {
			@include make-col(4);
			@include make-col-offset(2);
			border-right: 2px solid #f5f5f5;
		}
		.col-2 {
			@include make-col(4);
			padding-left: 45px;
		}
	}

	p.woocommerce-customer-details--phone,
	p.woocommerce-customer-details--email {
		margin: 0;
	}

	p.woocommerce-customer-details--phone {
		margin-top: 11.5px;
	}
}
