.woocommerce-order-details {

	table.order_details {
		border-radius: 0;
		border: none;
		width: 70%;
		margin: 0 auto 24px;

		thead,
		tbody,
		tfoot {
			th,
			td {
				width: 50%;
			}
		}

		thead {
			th {
				text-align: center;
				vertical-align: middle;
				text-transform: uppercase;
			}
		}

		tbody,
		tfoot {
			th {
				font-weight: 400;
				padding-right: 0;
				vertical-align: middle;
				text-transform: uppercase;
			}

			td {
				text-align: right;
				vertical-align: middle;
				padding-left: 0;
			}

			tr.order_item {
				td.product-name,
				td.product-total {
					text-align: center;
					padding: 8px;
					border-top: none !important;
				}
			}
		}

		tfoot {
			& > tr:first-child {
				th,
				td {
					border-top: 2px solid #ddd;
				}
			}

			th {
				text-align: center;
				border: none;
			}

			td {
				text-align: center;
				border: none;

				small.shipped_via {
					display: block;
				}
			}
		}
	}

}
